<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
   <%= render 'shared/messages' %>

     <div class="panel panel-default">
      <div class="panel-heading"><h2 class="text-center">Resend confirmation instructions</h2></div>
      <div class="panel-body">
        </br>
        <div class="form-group">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            </br>
            <div class="actions">
              <div class="text-center"><%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %></div>
            </div>
          <% end %>
        </div>
        </br>
        <%= render "devise/shared/links" %>
      </div>
    </div>
    </div>

  </div>
  <div class="col-lg-6">
  </div>
</div>
