<div class="row">

  <div class="col-lg-3">
  </div>

  <div class="col-lg-6">
    <%= render 'shared/messages' %>

    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="text-center">Edit waiter</h2></div>

      <div class="panel-body">


        <%= form_for(@waiter, url: waiter_path(@waiter)) do |f| %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, class: 'form-control' %>
          </div>

           <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="row">
            <div class="col-lg-6"><div class="text-left"><%= f.submit "Update Waiter", class: 'btn btn-primary' %></div></div>
            <div class="col-lg-6"><div class="text-right"><%= link_to 'Cancel', waiters_path, class: 'btn btn-default' %></div></div>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  </div>

</div>
