<div class="panel-body">
  <%= form_for @item, html: { multipart: true } do |f| %>

    <div class="form-group">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>

      <div class="field">
        <%= f.label :quantity %><br>
        <%= f.number_field :quantity, class: 'form-control', min: '0' %>
      </div>

      <div class="field">
        <%= f.label :price %><br>
        <%= f.number_field :price, class: 'form-control', step: :any, min: '1' %>
      </div>

      <div class="field">
        <%= f.label :item_image %><br>
        <% if @item.persisted? %>
          <div class=""><%=  image_tag @item.item_image.url(:thumb) %></div><br>
          <% submit_btn_text = 'Update Item' %>
        <% else %>
          <% submit_btn_text = 'Create Item' %>
        <% end %>
        <%= f.file_field :item_image %>
      </div>

      <div class="row">
        <div class="col-lg-6"><div class="text-left"><%= f.submit submit_btn_text, class: 'btn btn-primary' %></div></div>
        <div class="col-lg-6"><div class="text-right"><%= link_to 'Cancel', items_path, class: 'btn btn-default' %></div></div>
      </div>

    </div>
  <% end %>
</div>
