<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title text-center">Add New Order Item</h4>
    </div>
    <div class="modal-body">
      <div class="container">
        <%= form_for [@order, @order_item], remote: true do |f| %>
          <p>
            <%= f.label :item_id %><br>
            <%= f.collection_select :item_id, @items, :id, :name %>
          </p>

          <p>
            <%= f.label :quantity %><br>
            <%= f.number_field :quantity, min: '1' %>
          </p>
          <div class="modal-footer">
            <div class="row">
              <div class="col-lg-6">
                <div class="text-left"><%= f.submit "Create Order Item", class: 'btn btn-primary' %></div>
              </div>
              <div class="col-lg-6"><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>