<tr>
  <td id="image-col"><%= image_tag order_item.item.image.url(:thumb) %></td>
  <td><%= link_to order_item.item.name, order_order_item_path(order_item.order, order_item) %></td>
  <td><%= order_item.quantity %></td>
  <td><%= number_to_currency(order_item.item.price, unit: 'Rs ') %></td>
  <td><%= calculate_price(order_item) %></td>
  <% if can? :update, order_item.order %>
    <td><%= link_to 'Edit', edit_order_order_item_path(order_item.order, order_item) %></td>
  <% end %>
  <% if can? :destroy, order_item.order %>
    <td><%= link_to 'Delete', [order_item.order, order_item],
            method: :delete,
            data: { confirm: 'Are you sure you want to delete this item?' } %></td>
  <% end %>
</tr>