<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">

  <h2 class="text-center">Edit Order Item</h2>


  <%= form_for [@order, @order_item] do |f| %>

    <% if @order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_item.errors.count, "error") %> prevented this order item from being saved:</h2>
        <ul>
        <% @order_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
    <div class="form-group">
      <p>
        <%= f.label :item_id %><br>
        <%= f.collection_select :item_id, @items, :id, :name, {}, { class: 'form-control' } %>
      </p>

      <p>
        <%= f.label :quantity %><br>
        <%= f.number_field :quantity, class: 'form-control' %>
      </p>

      <p>
        <div class="text-center"><%= f.submit "Edit Order Item", class: 'btn btn-default' %></div>
      </p>
      <% end %>
    </div>

  </div>
  <div class="col-lg-2">
  </div>
</div>