<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
   <%= render 'shared/messages' %>

    <div class="panel panel-default">

      <div class="panel-heading"><h2 class="text-center">Edit Order Item</h2></div>

      <div class="panel-body">

        <%= form_for [@order, @order_item] do |f| %>

        <% if @order_item.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@order_item.errors.count, "error") %> prevented this order item from being saved:</h2>
            <ul>
              <% @order_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <div class="field">
            <%= f.label :item_id %><br>
            <%= f.collection_select :item_id, @items, :id, :name, {}, { class: 'form-control' } %>
          </div>

          <div class="field">
            <%= f.label :quantity %><br>
            <%= f.number_field :quantity, class: 'form-control', min: '1' %>
          </div>
          <br>

          <div class="row">
            <div class="col-lg-6"><div class="text-left"><%= f.submit "Edit Order Item", class: 'btn btn-primary' %></div></div>
            <div class="col-lg-6"><div class="text-right"><%= link_to 'Cancel', order_order_items_path(@order), class: 'btn btn-default' %></div></div>
          </div>

         <% end %>
        </div>

      </div>

    </div>

  </div>
  <div class="col-lg-3">
  </div>
</div>