<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">
   <%= render 'shared/messages' %>

    <br>
    <table class="table table-bordered">
      <tr>
        <td><div class="text-center"><strong>Order Description</strong></div></td>
        <td colspan="2"><div class="text-center"><%= @order_item.order.description %></div></td>
      </tr>

      <tr>
        <td rowspan="3"><div class="text-center"><%= image_tag @order_item.item.item_image.url(:medium) %></div></td>
        <td colspan="2"><div class="text-center"><h2><%= @order_item.item.name %></h2></div></td>
      </tr>
      <tr>
        <td><strong>Quantity Ordered: </strong></td>
        <td><%= @order_item.quantity %></td>
      </tr>

      <tr>
        <td><strong>Price:</strong></td>
        <td><%= calculate_price(@order_item) %></td>
      </tr>
    </table>
    <div class="text-center"><%= link_to 'Back to Order Item Listing', order_order_items_path(@order_item.order), class: 'btn btn-default' %></div>

  </div>
  <div class="col-lg-2">
  </div>
</div>



